Nama : Sukma Ramadhan Asri  
Kelas : Eunoia
Orbit

In [184]:
import pandas as pd
import numpy as np
import joblib
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [185]:
df = pd.read_csv('Dataset/weight-height.csv',sep=',', quoting=3, skipinitialspace=True)
df.iloc[:, 0] = df.iloc[:, 0].str.strip('"')
df.iloc[:, -1] = df.iloc[:, -1].str.strip('"')
df.columns = df.columns.str.strip('"')
df.head()

  Gender     Height            Weight
0   Male  73.847017  241.893563180437
1   Male  68.781904  162.310472521300
2   Male  74.110105    212.7408555565
3   Male  71.730978  220.042470303077
4   Male  69.881796  206.349800623871

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  object
dtypes: float64(1), object(2)
memory usage: 234.5+ KB

In [187]:
df['Weight'] = df['Weight'].astype(float)

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [189]:
df[['Height']] = df[['Height']].values/39.37 # Convert inches to meters
df[['Weight']] = df[['Weight']].values/2.205 # Convert pounds to kilos

In [211]:
df.head()

   Gender  Height  Weight
0       1    1.88  109.70
1       1    1.75   73.61
2       1    1.88   96.48
3       1    1.82   99.79
4       1    1.78   93.58

In [191]:
df.shape

(10000, 3)

In [192]:
df['Gender'].replace('Male',1,inplace = True)
df['Gender'].replace('Female',0,inplace = True)
df.head()

   Gender    Height      Weight
0       1  1.875718  109.702296
1       1  1.747064   73.610192
2       1  1.882400   96.481114
3       1  1.821970   99.792504
4       1  1.775001   93.582676

In [193]:
df[['Height']] = round(df[['Height']], 2)
df[['Weight']] = round(df[['Weight']], 2)
df.head()

   Gender  Height  Weight
0       1    1.88  109.70
1       1    1.75   73.61
2       1    1.88   96.48
3       1    1.82   99.79
4       1    1.78   93.58

In [194]:
Req_Col = df[['Gender','Height']]
X = Req_Col
y = df.Weight

In [195]:
X.head()

   Gender  Height
0       1    1.88
1       1    1.75
2       1    1.88
3       1    1.82
4       1    1.78

In [196]:
y.head()

0    109.70
1     73.61
2     96.48
3     99.79
4     93.58
Name: Weight, dtype: float64

In [197]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.14, random_state=1)

In [198]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(8599, 2)
(1401, 2)
(8599,)
(1401,)

In [199]:
model = linear_model.LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [200]:
model.score(X_test,y_test)

0.9103699050747998

In [201]:
prediksi = model.predict(X_test)
np.round(prediksi,2)

array([55.45, 88.76, 87.7 , ..., 91.95, 93.02, 68.21])

In [202]:
joblib.dump(model,'./pickle/regressionlinear_weight.pkl')

['./pickle/regressionlinear_weight.pkl']

In [203]:
test_data = [1, 1.62]
#convert test_data into numpy array
test_data = np.array(test_data)
#reshape
test_data = test_data.reshape(1,-1)
print(test_data)

[[1.   1.62]]

In [204]:
filePath = './pickle/regressionlinear_weight.pkl'
file = open(filePath, "rb")
trained_model = joblib.load(file)

In [206]:
prediction = np.round(trained_model.predict(test_data),2)
print(prediction)

[70.68]

C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(